
.footer{
    grid-template-columns: repeat(4,1fr);
    .footer-section:nth-child(1){
        grid-column: span 4;
    } .footer-section:nth-child(2), .footer-section:nth-child(3){
        grid-column: span 2 ;
    }
   
}

.footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding-block: 3em;
    background-color: #0f0f0f;
    color: #fff;
    grid-gap: 1em;
    .footer-section{
        p{
            opacity: .9;
            margin-bottom: .5em;
        }
        p.titel{
            opacity: 1;
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: 1em;
        }
    }
    }